/*
 * Legenda:
 *     .path-mod-surveypro #userentry            form preview;
 *     .path-mod-surveypro #userentry:           form to submit a response;
 *     .path-mod-surveypro #usersearch           form to search a response;
 *     .path-mod-surveypro #userentry .frozen    readonly response
 *     .path-mod-surveypro table#manageitems   manage items table
 */

/* Begin of: colours alternation for #layout_preview, #view_userentry, #view_usersearch forms and read-only table */
.path-mod-surveypro #userentry div.row:nth-of-type(odd),
.path-mod-surveypro #usersearch div.row:nth-of-type(odd) {
    background-color: #ededed;
}
/* End of: colours alternation for #userentry, #usersearch forms and read-only table */

/* Begin of: hacky coluorunifier html element */
.path-mod-surveypro #userentry div.colorunifier,
.path-mod-surveypro #usersearch div.colorunifier {
    display: none;
}
/*
    I moved out:
    line-height: 0;
    margin-bottom: 0;
    padding: 0;
*/
/* End of: hacky coluorunifier html element */

/* Begin of: connect note to question */
.path-mod-surveypro #userentry > div.fitem,
.path-mod-surveypro #usersearch > div.fitem,
.path-mod-surveypro #userentry > fieldset > div > div.fitem,
.path-mod-surveypro #usersearch > fieldset > div > div.fitem {
    margin: 0;
}
/* End of: connect note to question */

/* Begin of: no margin bottom to p inside question in SURVEYPRO_POSITIONTOP and SURVEYPRO_POSITIONFULLWIDTH */
.path-mod-surveypro .mform .fitem > div.fullwidth > p {
    margin: 0 1em 0 1em;
}
/* End of: no margin bottom to p inside question in SURVEYPRO_POSITIONTOP and SURVEYPRO_POSITIONFULLWIDTH */

.path-mod-surveypro .mform .fitem .felement label {
    margin-right: 1em;
}

/* The box on the left usually displaying the question */
.path-mod-surveypro div.col-form-label {
    /* background-color: red; */
    padding-top: 0;
}

.path-mod-surveypro div.userentry {
    padding: 3em;
}

/* Begin of: #manageitems, #sortitems and #validaterelations tables*/
.path-mod-surveypro table#manageitems th,
.path-mod-surveypro table#sortitems th,
.path-mod-surveypro table#validaterelations th {
    vertical-align: inherit;
}

.path-mod-surveypro table#manageitems td,
.path-mod-surveypro table#sortitems td,
.path-mod-surveypro table#validaterelations td {
    vertical-align: inherit;
}

.path-mod-surveypro table#manageitems,
.path-mod-surveypro table#sortitems,
.path-mod-surveypro table#validaterelations {
    width: 100%;
}

.path-mod-surveypro table#manageitems .plugin,
.path-mod-surveypro table#sortitems .plugin,
.path-mod-surveypro table#validaterelations .plugin {
    text-align: center;
}

.path-mod-surveypro table#manageitems .hide {
    display: none;
}

.path-mod-surveypro table#manageitems td.plugin,
.path-mod-surveypro table#sortitems td.plugin,
.path-mod-surveypro table#validaterelations td.plugin {
    width: 0.5em;
    padding: 0.5em;
    text-align: center;
}

.path-mod-surveypro table#manageitems td.plugin span.pluginicon,
.path-mod-surveypro table#sortitems td.plugin span.pluginicon,
.path-mod-surveypro table#validaterelations td.plugin span.pluginicon {
    /*width: 0.5em;*/
    padding: 0.5em;
    margin: 0;
    text-align: center;
    vertical-align: middle;
}

.path-mod-surveypro table#manageitems td.sortindex,
.path-mod-surveypro table#sortitems td.sortindex,
.path-mod-surveypro table#validaterelations td.sortindex {
    width: 0.5em;
    padding: 0.5em;
    text-align: right;
    white-space: nowrap;
    vertical-align: middle;
}

.path-mod-surveypro table#manageitems td.parentitem,
.path-mod-surveypro table#sortitems td.parentitem,
.path-mod-surveypro table#validaterelations td.parentitem {
    width: 0.5em;
    padding: 0.5em;
    margin: 0;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
}

.path-mod-surveypro table#manageitems td.parentitem span.branch .icon,
.path-mod-surveypro table#sortitems td.parentitem span.branch .icon,
.path-mod-surveypro table#validaterelations td.parentitem span.branch .icon {
    width: 16px;
    padding: 0 .1em 0 .1em;
    margin: 0 .1em 0 .1em;
}

.path-mod-surveypro table#manageitems td.customnumber,
.path-mod-surveypro table#sortitems td.customnumber {
    width: 0.5em;
    padding: 0.5em;
    white-space: nowrap;
    vertical-align: middle;
}

.path-mod-surveypro table#manageitems td.content,
.path-mod-surveypro table#sortitems td.content,
.path-mod-surveypro table#validaterelations td.content {
    padding: 0.5em;
    vertical-align: middle;
}

.path-mod-surveypro table#manageitems td.variable,
.path-mod-surveypro table#sortitems td.variable {
    padding: 0.5em;
    text-align: left;
    white-space: nowrap;
    vertical-align: middle;
}

.path-mod-surveypro table#manageitems td.formpage,
.path-mod-surveypro table#sortitems td.formpage {
    width: 0.5em;
    padding: 0.5em;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}

.path-mod-surveypro table#manageitems td.availability,
.path-mod-surveypro table#sortitems td.availability {
    width: 0.5em;
    padding: 0.5em;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}

.path-mod-surveypro table#manageitems td.availability img.icon,
.path-mod-surveypro table#manageitems td.availability i.icon,
.path-mod-surveypro table#sortitems td.availability img.icon,
.path-mod-surveypro table#sortitems td.availability i.icon {
    width: 16px;
    height: 16px;
    padding: 0;
    vertical-align: middle;
    margin-right: 0.2em;
}

.path-mod-surveypro table#manageitems td.actions,
.path-mod-surveypro table#sortitems td.actions,
.path-mod-surveypro table#validaterelations td.actions {
    width: 3em;
    padding: 0.5em;
    white-space: nowrap;
    vertical-align: middle;
}

.path-mod-surveypro table#manageitems td.actions span.reorder,
.path-mod-surveypro table#sortitems td.actions span.reorder {
    padding: .2em;
}

.path-mod-surveypro table#manageitems td.actions span.fatspan,
.path-mod-surveypro table#sortitems td.actions span.fatspan {
    display: inline;
    border-collapse: collapse;
    border-spacing: 0 0;
    line-height: 20px;
    text-align: left;
    white-space: nowrap;
    float: none;
}

.path-mod-surveypro table#manageitems td.actions span.lastspan,
.path-mod-surveypro table#sortitems td.actions span.lastspan {
    display: inline;
    border-collapse: collapse;
    border-spacing: 0 0;
    line-height: 20px;
    text-align: right;
    white-space: nowrap;
    float: none;
    padding-left: 0.1em;
    margin-left: 0.1em;
}

.path-mod-surveypro table#manageitems span.noactionicon,
.path-mod-surveypro table#sortitems span.noactionicon {
    padding: 0.2em;
    white-space: nowrap;
}

.path-mod-surveypro table#manageitems span.spacericon,
.path-mod-surveypro table#sortitems span.spacericon {
    padding-right: 0.2em;
    white-space: nowrap;
}

.path-mod-surveypro table#manageitems td.actions span.spacericon img.icon,
.path-mod-surveypro table#sortitems td.actions span.spacericon i.icon {
    width: 1.3em;
}

.path-mod-surveypro table#sortitems td.plugin img.placeholder {
    height: 16px;
    width: 80px;
}

.path-mod-surveypro table#manageitems td.actions img.icon,
.path-mod-surveypro table#manageitems td.actions i.icon,
.path-mod-surveypro table#sortitems td.actions img.icon,
.path-mod-surveypro table#sortitems td.actions i.icon {
    width: 16px;
    height: 16px;
    padding: 0;
    vertical-align: middle;
    margin-right: 0;
}

.path-mod-surveypro table#manageitems td.actions a.icon,
.path-mod-surveypro table#sortitems td.actions a.icon,
.path-mod-surveypro table#validaterelations td.actions a.icon {
    margin-right: 0;
}

.path-mod-surveypro table#manageitems .header,
.path-mod-surveypro table#sortitems .header,
.path-mod-surveypro table#validaterelations .header {
    text-align: center;
}

.path-mod-surveypro table#manageitems .dimmed,
.path-mod-surveypro table#sortitems .dimmed,
.path-mod-surveypro table#validaterelations .dimmed {
    color: #cdcdcd;
}

.path-mod-surveypro table#validaterelations .header {
    text-align: center;
}

.path-mod-surveypro table#validaterelations td.parentconstraints {
    padding: 0.5em;
    text-align: left;
    white-space: nowrap;
}

.path-mod-surveypro table#validaterelations td.status {
    padding: 0.5em;
    white-space: nowrap;
}

.path-mod-surveypro table#validaterelations td.status .warningmessage {
    color: yellow;
}

.path-mod-surveypro table#validaterelations td.status .errormessage {
    color: red;
}
/* End of: #manageitems, #sortitems, #managetemplates and #validaterelations tables*/

/* Begin of: submissions table */
.path-mod-surveypro table#submissions {
    width: 100%;
}

.path-mod-surveypro table#submissions td.actions {
    padding: 0.5em;
    white-space: nowrap;
    vertical-align: middle;
}

.path-mod-surveypro table#submissions .cell {
    vertical-align: middle;
}

.path-mod-surveypro table#submissions .picture {
    padding: 0.5em;
    width: 1.2em;
}

.path-mod-surveypro table#submissions .actions img.icon,
.path-mod-surveypro table#submissions .actions i.icon {
    width: 16px;
    height: 16px;
    margin: 0 0 0 0.45em;
    padding-right: 0;
    vertical-align: middle;
}
/* End of: submissions table */

/* Begin of: selectors for the static field explaining the format needed by each plugin in parentcontent field */
.path-mod-surveypro form#itemsetup table.exampletable {
    padding: 0;
    margin: 0 0 0 20px;
    width: auto;
}

.path-mod-surveypro form#itemsetup td.pluginname {
    padding: 0 20px 0 0;
    vertical-align: top;
    /* width: 60%; */
}

.path-mod-surveypro form#itemsetup td.inputformat {
    padding: 0;
    vertical-align: top;
    /* width: 40%; */
}

.path-mod-surveypro form#itemsetup .felement.fstatic ul {
    line-height: 1.2em;
}

.path-mod-surveypro form#itemsetup .felement .longfield {
    width: 25em;
}
/* End of: selectors for the static field explaining the format needed by each plugin in parentcontent field */

/* Begin of: #managetemplates table*/
#page-mod-surveypro-utemplates table#managetemplates {
    width: 100%;
}

#page-mod-surveypro-utemplates table#managetemplates td.actions {
    padding: 0.5em;
    white-space: nowrap;
    vertical-align: middle;
}

#page-mod-surveypro-utemplates table#managetemplates td.actions i.icon {
    width: 16px;
    height: 16px;
    padding: 0;
    vertical-align: middle;
    margin-right: 0;
}

#page-mod-surveypro-utemplates table#managetemplates td.actions a.icon {
    margin-right: 0;
}

#page-mod-surveypro-utemplates table#managetemplates .header {
    text-align: center;
}
/* End of: #managetemplates table */

/* classes = indent-n */
.path-mod-surveypro .fitem .felement .indent-1 {
    margin-left: 1.5em;
}
/* correction for select, textarea, plain text and ignoreme checkboxes that resist to the general selector */
.path-mod-surveypro div.indent-1 > div > select,
.path-mod-surveypro div.indent-1 > div > textarea,
.path-mod-surveypro div.indent-1 > div > input[type='text'],
.path-mod-surveypro div.indent-1 > div > div > label,
.path-mod-surveypro .form-group div.fitem.indent-1 {
    margin-left: 1.5em;
}
/* correction for fileupload_filemanager specifications that resist to the general selector */
.path-mod-surveypro div.indent-1.fileupload_filemanager ~ div,
.path-mod-surveypro div.indent-1.fileupload_filemanager ~ p {
    margin-left: 1.5em;
}

/* class = indent-2 */
.path-mod-surveypro .fitem .felement .indent-2 {
    margin-left: 3em;
}
/* correction for select, textarea, plain text and ignoreme checkboxes that resist to the general selector */
.path-mod-surveypro div.indent-2 > div > select,
.path-mod-surveypro div.indent-2 > div > textarea,
.path-mod-surveypro div.indent-2 > div > input[type='text'],
.path-mod-surveypro div.indent-2 > div > div > label,
.path-mod-surveypro .form-group div.fitem.indent-2 {
    margin-left: 3em;
}
/* correction for fileupload_filemanager specifications that resist to the general selector */
.path-mod-surveypro div.indent-2.fileupload_filemanager ~ div,
.path-mod-surveypro div.indent-2.fileupload_filemanager ~ p {
    margin-left: 3em;
}

/* class = indent-3 */
.path-mod-surveypro .fitem .felement .indent-3 {
    margin-left: 4.5em;
}
/* correction for select, textarea, plain text and ignoreme checkboxes that resist to the general selector */
.path-mod-surveypro div.indent-3 > div > select,
.path-mod-surveypro div.indent-3 > div > textarea,
.path-mod-surveypro div.indent-3 > div > input[type='text'],
.path-mod-surveypro div.indent-3 > div > div > label,
.path-mod-surveypro .form-group div.fitem.indent-3 {
    margin-left: 4.5em;
}
/* correction for fileupload_filemanager specifications that resist to the general selector */
.path-mod-surveypro div.indent-3.fileupload_filemanager ~ div,
.path-mod-surveypro div.indent-3.fileupload_filemanager ~ p {
    margin-left: 4.5em;
}

/* class = indent-4 */
.path-mod-surveypro .fitem .felement .indent-4 {
    margin-left: 6em;
}
.path-mod-surveypro div.indent-4 > div > select,
.path-mod-surveypro div.indent-4 > div > textarea,
.path-mod-surveypro div.indent-4 > div > input[type='text'],
.path-mod-surveypro div.indent-4 > div > div > label,
.path-mod-surveypro .form-group div.fitem.indent-4 {
    margin-left: 6em;
}
/* correction for fileupload_filemanager specifications that resist to the general selector */
.path-mod-surveypro div.indent-4.fileupload_filemanager ~ div,
.path-mod-surveypro div.indent-4.fileupload_filemanager ~ p {
    margin-left: 6em;
}

/* class = indent-5 */
.path-mod-surveypro .fitem .felement .indent-5 {
    margin-left: 7.5em;
}
.path-mod-surveypro div.indent-5 > div > select,
.path-mod-surveypro div.indent-5 > div > textarea,
.path-mod-surveypro div.indent-5 > div > input[type='text'],
.path-mod-surveypro div.indent-5 > div > div > label,
.path-mod-surveypro .form-group div.fitem.indent-5 {
    margin-left: 7.5em;
}
/* correction for fileupload_filemanager specifications that resist to the general selector */
.path-mod-surveypro div.indent-5.fileupload_filemanager ~ div,
.path-mod-surveypro div.indent-5.fileupload_filemanager ~ p {
    margin-left: 7.5em;
}

/* class = indent-6 */
.path-mod-surveypro .fitem .felement .indent-6 {
    margin-left: 9em;
}
.path-mod-surveypro div.indent-6 > div > select,
.path-mod-surveypro div.indent-6 > div > textarea,
.path-mod-surveypro div.indent-6 > div > input[type='text'],
.path-mod-surveypro div.indent-6 > div > div > label,
.path-mod-surveypro .form-group div.fitem.indent-6 {
    margin-left: 9em;
}
/* correction for fileupload_filemanager specifications that resist to the general selector */
.path-mod-surveypro div.indent-6.fileupload_filemanager ~ div,
.path-mod-surveypro div.indent-6.fileupload_filemanager ~ p {
    margin-left: 9em;
}

/* class = indent-7 */
.path-mod-surveypro .fitem .felement .indent-7 {
    margin-left: 10.5em;
}
.path-mod-surveypro div.indent-7 > div > select,
.path-mod-surveypro div.indent-7 > div > textarea,
.path-mod-surveypro div.indent-7 > div > input[type='text'],
.path-mod-surveypro div.indent-7 > div > div > label,
.path-mod-surveypro .form-group div.fitem.indent-7 {
    margin-left: 10.5em;
}
/* correction for fileupload_filemanager specifications that resist to the general selector */
.path-mod-surveypro div.indent-7.fileupload_filemanager ~ div,
.path-mod-surveypro div.indent-7.fileupload_filemanager ~ p {
    margin-left: 10.5em;
}

/* class = indent-8 */
.path-mod-surveypro .fitem .felement .indent-8 {
    margin-left: 12em;
}
.path-mod-surveypro div.indent-8 > div > select,
.path-mod-surveypro div.indent-8 > div > textarea,
.path-mod-surveypro div.indent-8 > div > input[type='text'],
.path-mod-surveypro div.indent-8 > div > div > label,
.path-mod-surveypro .form-group div.fitem.indent-8 {
    margin-left: 12em;
}
/* correction for fileupload_filemanager specifications that resist to the general selector */
.path-mod-surveypro div.indent-8.fileupload_filemanager ~ div,
.path-mod-surveypro div.indent-8.fileupload_filemanager ~ p {
    margin-left: 12em;
}

/* class = indent-9 */
.path-mod-surveypro .fitem .felement .indent-9 {
    margin-left: 13.5em;
}
.path-mod-surveypro div.indent-9 > div > select,
.path-mod-surveypro div.indent-9 > div > textarea,
.path-mod-surveypro div.indent-9 > div > input[type='text'],
.path-mod-surveypro div.indent-9 > div > div > label,
.path-mod-surveypro .form-group div.fitem.indent-9 {
    margin-left: 13.5em;
}
/* correction for fileupload_filemanager specifications that resist to the general selector */
.path-mod-surveypro div.indent-9.fileupload_filemanager ~ div,
.path-mod-surveypro div.indent-9.fileupload_filemanager ~ p {
    margin-left: 13.5em;
}

/* This is for checkboxes affected by MDL-62634 */
.path-mod-surveypro label.indent-1 > input[type='checkbox'].indent-1,
.path-mod-surveypro label.indent-2 > input[type='checkbox'].indent-2,
.path-mod-surveypro label.indent-3 > input[type='checkbox'].indent-3,
.path-mod-surveypro label.indent-4 > input[type='checkbox'].indent-4,
.path-mod-surveypro label.indent-5 > input[type='checkbox'].indent-5,
.path-mod-surveypro label.indent-6 > input[type='checkbox'].indent-6,
.path-mod-surveypro label.indent-7 > input[type='checkbox'].indent-7,
.path-mod-surveypro label.indent-8 > input[type='checkbox'].indent-8,
.path-mod-surveypro label.indent-9 > input[type='checkbox'].indent-9 {
    margin-left: 0;
}
/* End of: classes = indent-n */

/* Begin of: fix to owful alignment of fielset legends in surveypro -> cover */
.path-mod-surveypro_cover .coverinfolegend {
    margin-bottom: 0;
    margin-top: 20px;
}
/* End of: fix to owful alignment of fielset legends in surveypro -> cover */

/* table with list of surveypro in index.php */
table.surveypro_index .col1,
table.surveypro_index .col2,
table.surveypro_index .col3,
table.surveypro_index .col4,
table.surveypro_index .col5 {
    text-align: left;
}

table.surveypro_index .col1 {
    white-space: nowrap;
}

table.surveypro_index td span.dimmed {
    color: #999;
}
/* End of: table with list of surveypro in index.php */

/* to correct vertical alignment */
.path-mod-surveypro form#userentry .fitem .felement.fgroup,
.path-mod-surveypro form#userentry .fitem .felement.feditor,
.path-mod-surveypro form#userentry .fitem .felement.fselect,
.path-mod-surveypro form#userentry .fitem .felement.fcheckbox,
.path-mod-surveypro form#userentry .fitem .felement.fstatic {
    padding-top: 2px;
    padding-bottom: 2px;
}
/* End of: to correct vertical alignment */

/* vertical distance between top margin of a row and input elements is too small */
.path-mod-surveypro form#userentry .fitem,
.path-mod-surveypro form#usersearch .fitem {
    padding-top: 2px;
    padding-bottom: 2px;
}
/* End of: vertical distance between top margin of a row and input elements is too small */

/* padding bottom for noanswer checkbox in a dedicated row, like, for instence, in rate elements (but not only) */
.path-mod-surveypro form#userentry div.rate_check,
.path-mod-surveypro form#usersearch div.rate_check {
    padding-bottom: 0.5em;
    padding-top: 0;
}
/* End of: padding bottom for noanswer checkbox in a dedicated row, like, for instence, in rate elements (but not only) */

/* padding bottom for noanswer checkbox in a dedicated row, like, for instence, in rate elements (but not only) */
.path-mod-surveypro form#userentry div.fitem_fstatic,
.path-mod-surveypro form#usersearch div.fitem_fstatic {
    padding-top: 0;
}
/* End of: padding bottom for noanswer checkbox in a dedicated row, like, for instence, in rate elements (but not only) */
