.xdebug-error {
    font-size:large;
}

/* Begin of: to correct display problems of firefox for mac */
#page-mod-surveypro-view_form .mform .fitem .felement,
#page-mod-surveypro-view_search .mform .fitem .felement {
    /* min-height: 2em; */ /* too much horintal room */
    padding-top:8px;
}
/* End of: to eliminate display problems of firefox for mac */

/* Begin of: colours alternation for #layout_preview, #view_form, #view_search forms and read-only table*/
#page-mod-surveypro-layout_preview fieldset div.fitem:nth-of-type(even),
#page-mod-surveypro-view_form fieldset div.fitem:nth-of-type(even),
#page-mod-surveypro-view_search fieldset div.fitem:nth-of-type(even) {
    background-color:#EDEDED;
}
/* End of: colours alternation for #userentry, #usersearch forms and read-only table*/

/* Begin of: hacky coluorunifier html element */
#page-mod-surveypro-layout_preview fieldset div.colorunifier,
#page-mod-surveypro-view_form .mform fieldset div.colorunifier,
#page-mod-surveypro-view_search .mform fieldset div.colorunifier {
    line-height:0;
    margin-bottom:0;
    padding:0;
}
/* End of: hacky coluorunifier html element */

/* Begin of: connect fullwidth question and graphic user items */
#page-mod-surveypro-view_form .mform fieldset.hidden,
#page-mod-surveypro-view_form .mform fieldset.hidden div,
#page-mod-surveypro-view_search .mform fieldset.hidden,
#page-mod-surveypro-view_search .mform fieldset.hidden div {
    margin-bottom: 0;
}
/* End of: connect fullwidth question and graphic user items */

/* Begin of: connect note to question */
#page-mod-surveypro-layout_preview .mform .fitem,
#page-mod-surveypro-view_form .mform .fitem,
#page-mod-surveypro-view_search .mform .fitem {
    margin:0;
}
/* End of: connect note to question */

/* Begin of: no margin bottom to p inside question in SURVEYPRO_POSITIONTOP and SURVEYPRO_POSITIONFULLWIDTH */
#page-mod-surveypro-view_form .mform .fitem .felement div p,
#page-mod-surveypro-view_form .mform .fitem .fullwidth p,
#page-mod-surveypro-view_search .mform .fitem .felement div p,
#page-mod-surveypro-view_search .mform .fitem .fullwidth p {
    margin:0;
}
/* End of: no margin bottom to p inside .fullwidth */

/* Begin of: drop out pictures longer than the available width in #userentry and #usersearch */
#page-mod-surveypro-view_form .mform .itemlabel .fullwidth,
#page-mod-surveypro-view_search .mform .itemlabel .fullwidth {
    overflow: hidden;
}
/* End of: drop out pictures longer than the available width */

/* Begin of: move horizontal checkbox and radio label closer to corresponding checkboes */
/* useful in case of radio button and checkboxes horizontally aligned */
/* NOTE: I have to add #userentry and #usersearch because I want to leave read-only layout untouched */
#page-mod-surveypro-view_form #userentry .fitem .felement input[type="checkbox"],
#page-mod-surveypro-view_form #userentry .fitem .felement input[type="radio"],
#page-mod-surveypro-view_form #usersearch .fitem .felement input[type="checkbox"],
#page-mod-surveypro-view_form #usersearch .fitem .felement input[type="radio"] {
    margin-right:0px;
}

#page-mod-surveypro-view_form .mform .fitem .felement label {
    margin-right: 1em;
}
/* End of: move horizontal checkbox and radio label closer to corresponding checkboes */

/* Begin of: #manageitems, #sortitems, #managetemplates and #validaterelations tables*/
#page-mod-surveypro-layout_manage table#manageitems,
#page-mod-surveypro-layout_manage table#sortitems,
#page-mod-surveypro-utemplates_manage table#managetemplates,
#page-mod-surveypro-layout_validation table#validaterelations {
    width:100%;
}

#page-mod-surveypro-layout_manage table#manageitems .plugin,
#page-mod-surveypro-layout_manage table#sortitems .plugin,
#page-mod-surveypro-layout_validation table#validaterelations .plugin {
    padding:0.5em;
    text-align:center;
}

#page-mod-surveypro-layout_manage table#sortitems .plugin {
    width:90px;
}

#page-mod-surveypro-layout_manage table#manageitems .hide {
    display: none;
}

#page-mod-surveypro-layout_manage table#manageitems .sortindex,
#page-mod-surveypro-layout_manage table#sortitems .sortindex,
#page-mod-surveypro-layout_validation table#validaterelations .sortindex {
    padding:0.5em;
    text-align:right;
    min-width:2.5em;
}

#page-mod-surveypro-layout_manage table#manageitems .parentitem,
#page-mod-surveypro-layout_manage table#sortitems .parentitem,
#page-mod-surveypro-layout_validation table#validaterelations .parentitem {
    padding:0.5em;
    text-align:left;
    white-space:nowrap;
}

#page-mod-surveypro-layout_manage table#manageitems .availability,
#page-mod-surveypro-layout_manage table#sortitems .availability {
    padding:0.5em;
    text-align:center;
    white-space:nowrap;
}

#page-mod-surveypro-layout_manage table#manageitems .formpage,
#page-mod-surveypro-layout_manage table#sortitems .formpage {
    padding:0.5em;
    white-space:nowrap;
    text-align:center;
}

#page-mod-surveypro-layout_manage table#manageitems .parentitem .smallicon,
#page-mod-surveypro-layout_manage table#manageitems .availability .smallicon,
#page-mod-surveypro-layout_manage table#manageitems .parentitem .smallicon,
#page-mod-surveypro-layout_manage table#sortitems .availability .smallicon,
#page-mod-surveypro-layout_validation table#validaterelations .parentitem .smallicon {
    vertical-align: text-bottom;
    margin: 0 0.3em 0 0.3em;
}

#page-mod-surveypro-layout_manage table#manageitems .content,
#page-mod-surveypro-layout_manage table#sortitems .content,
#page-mod-surveypro-layout_validation table#validaterelations .content {
    padding:0.5em;
}

#page-mod-surveypro-layout_manage table#manageitems .customnumber ,
#page-mod-surveypro-layout_manage table#sortitems .customnumber {
    padding:0.5em;
    white-space:nowrap;
}

#page-mod-surveypro-layout_manage table#manageitems .actions,
#page-mod-surveypro-layout_manage table#sortitems .actions,
#page-mod-surveypro-layout_validation table#validaterelations .actions,
#page-mod-surveypro-view table#submissions .actions,
#page-mod-surveypro-utemplates_manage table#managetemplates .actions {
    padding:0.5em;
    white-space:nowrap;
}

#page-mod-surveypro-layout_manage table#manageitems .actions img.icon,
#page-mod-surveypro-layout_manage table#sortitems .actions img.icon {
    height: 16px;
    width: 16px;
    margin-left: 0.45em;
    vertical-align: text-bottom;
    padding-right:0;
}

#page-mod-surveypro-layout_manage table#manageitems img.movetarget,
#page-mod-surveypro-layout_manage table#sortitems img.movetarget {
    height:16px;
    width:80px;
}

#page-mod-surveypro-layout_manage table#manageitems .header,
#page-mod-surveypro-layout_manage table#sortitems .header {
    text-align:center;
}

#page-mod-surveypro-layout_manage table#manageitems .dimmed,
#page-mod-surveypro-layout_manage table#sortitems .dimmed,
#page-mod-surveypro-layout_validation table#validaterelations .dimmed {
    color:#CDCDCD;
}

#page-mod-surveypro-layout_validation table#validaterelations .parentconstraints {
    padding:0.5em;
    text-align:left;
    white-space:nowrap;
}

#page-mod-surveypro-layout_validation table#validaterelations .status {
    padding:0.5em;
    white-space:nowrap;
}

#page-mod-surveypro-layout_validation table#validaterelations .status .warningmessage {
    color:yellow;
}

#page-mod-surveypro-layout_validation table#validaterelations .status .errormessage {
    color:red;
}

#page-mod-surveypro-layout_validation table#validaterelations .header {
    text-align:center;
}
/* End of: #manageitems, #sortitems, #managetemplates and #validaterelations tables*/

/* Begin of: submissions table */
#page-mod-surveypro-view table#submissions {
    width:100%;
}

#page-mod-surveypro-view table#submissions .cell {
    vertical-align:middle;
}

#page-mod-surveypro-view table#submissions .picture {
    padding:0.5em;
    width:1.2em;
}
/* End of: submissions table */

/* Begin of: Page break and fieldset presentation in the items table and during deletion confirmation */
/* taken from: http://www.techrepublic.com/blog/web-designer/customize-horizontal-rules-to-add-some-flair/ */
#page-mod-surveypro-layout_manage hr.pagebreakcontent,
#page-mod-surveypro-layout_validation hr.pagebreakcontent {
    height: 20px;
    border-style: ridge;
    border-width: 3px 0 0 0;
    border-radius: 45px;
    margin: 10px 10px -10px 10px;
}

#page-mod-surveypro-layout_manage .dimmed hr.pagebreakcontent,
#page-mod-surveypro-layout_validation .dimmed hr.pagebreakcontent {
    color: white;
    border-width: 2px 0 0 0;
}

#page-mod-surveypro-layout_manage hr.pagebreakcontent:before,
#page-mod-surveypro-layout_validation hr.pagebreakcontent:before {
    display: block;
    content: "";
    height: 20px;
    margin-top: -25px;
    border-style: ridge;
    border-width: 0 0 2px 0;
    border-radius: 45px;
}

#page-mod-surveypro-layout_manage hr.fieldsetendcontent,
#page-mod-surveypro-layout_validation hr.fieldsetendcontent {
    border: 2px dotted #000;
    border-style: none none dotted;
    width: 90%;
}
/* End of: Page break and fieldset presentation in the items table and during deletion confirmation */

/* Begin of: selectors for the static field explaining the format needed by each plugin in parentcontent field */
#page-mod-surveypro-layout_itemsetup .pluginname {
    left:0;
    width:25%;
    float:left;
    /*border:1px green solid;*/
}

#page-mod-surveypro-layout_itemsetup .inputformat {
    position:relative:
    padding-left:26%;
    margin-left:26%;
    /*border:1px blue solid;*/
}

#page-mod-surveypro-layout_itemsetup .felement.fstatic ul {
    line-height:1.2em;
}
/* End of: selectors for the static field explaining the format needed by each plugin in parentcontent field */

/* the first class selecter is for the form in R/W mode, the second is for the RO mode */
#page-mod-surveypro-layout_preview #userentry .fitem .felement .indent-0,
#page-mod-surveypro-layout_preview .mform .fitem .felement .indent-0,
#page-mod-surveypro-view_userform #userentry .fitem .felement .indent-0,
#page-mod-surveypro-view_userform .mform .fitem .felement .indent-0 {
     margin-left:0;
}

#page-mod-surveypro-layout_preview #userentry .fitem .felement .indent-1,
#page-mod-surveypro-layout_preview .mform .fitem .felement .indent-1,
#page-mod-surveypro-view_userform #userentry .fitem .felement .indent-1,
#page-mod-surveypro-view_userform .mform .fitem .felement .indent-1 {
     margin-left:1.5em;
}

#page-mod-surveypro-layout_preview #userentry .fitem .felement .indent-2,
#page-mod-surveypro-layout_preview .mform .fitem .felement .indent-2,
#page-mod-surveypro-view_userform #userentry .fitem .felement .indent-2,
#page-mod-surveypro-view_userform .mform .fitem .felement .indent-2 {
    margin-left:3em;
}

#page-mod-surveypro-layout_preview #userentry .fitem .felement .indent-3,
#page-mod-surveypro-layout_preview .mform .fitem .felement .indent-3,
#page-mod-surveypro-view_userform #userentry .fitem .felement .indent-3,
#page-mod-surveypro-view_userform .mform .fitem .felement .indent-3 {
    margin-left:4.5em;
}

#page-mod-surveypro-layout_preview #userentry .fitem .felement .indent-4,
#page-mod-surveypro-layout_preview .mform .fitem .felement .indent-4,
#page-mod-surveypro-view_userform #userentry .fitem .felement .indent-4,
#page-mod-surveypro-view_userform .mform .fitem .felement .indent-4 {
    margin-left:6em;
}

#page-mod-surveypro-layout_preview #userentry .fitem .felement .indent-5,
#page-mod-surveypro-layout_preview .mform .fitem .felement .indent-5,
#page-mod-surveypro-view_userform #userentry .fitem .felement .indent-5,
#page-mod-surveypro-view_userform .mform .fitem .felement .indent-5 {
    margin-left:7.5em;
}

#page-mod-surveypro-layout_preview #userentry .fitem .felement .indent-6,
#page-mod-surveypro-layout_preview .mform .fitem .felement .indent-6,
#page-mod-surveypro-view_userform #userentry .fitem .felement .indent-6,
#page-mod-surveypro-view_userform .mform .fitem .felement .indent-6 {
    margin-left:9em;
}

#page-mod-surveypro-layout_preview #userentry .fitem .felement .indent-7,
#page-mod-surveypro-layout_preview .mform .fitem .felement .indent-7,
#page-mod-surveypro-view_userform #userentry .fitem .felement .indent-7,
#page-mod-surveypro-view_userform .mform .fitem .felement .indent-7 {
    margin-left:10.5em;
}

#page-mod-surveypro-layout_preview #userentry .fitem .felement .indent-8,
#page-mod-surveypro-layout_preview .mform .fitem .felement .indent-8,
#page-mod-surveypro-view_userform #userentry .fitem .felement .indent-8,
#page-mod-surveypro-view_userform .mform .fitem .felement .indent-8 {
    margin-left:12em;
}

#page-mod-surveypro-layout_preview #userentry .fitem .felement .indent-9,
#page-mod-surveypro-layout_preview .mform .fitem .felement .indent-9,
#page-mod-surveypro-view_userform #userentry .fitem .felement .indent-9,
#page-mod-surveypro-view_userform .mform .fitem .felement .indent-9 {
    margin-left:13.5em;
}

/* Begin of: for long edit fields in itemsetup form */
#page-mod-surveypro-layout_itemsetup .mform .fitem .felement .longfield {
    width:25em;
}
/* End of: for long edit fields in itemsetup form */

/* Begin of: fix to owful alignment of fielset legends in the cover */
#page-mod-surveypro-view_cover .coverinfolegend {
    margin-top:20px;
    margin-bottom:0;
}
/* End of: fix to owful alignment of fielset legends in the cover */

/* table with list of surveypro in index.php */
#page-mod-surveypro-index table.mod_index .col1,
#page-mod-surveypro-index table.mod_index .col2,
#page-mod-surveypro-index table.mod_index .col3,
#page-mod-surveypro-index table.mod_index .col4,
#page-mod-surveypro-index table.mod_index .col5 {
    text-align: left;
}

#page-mod-surveypro-index table.mod_index .col1 {
    white-space: nowrap;
}

#page-mod-surveypro-index table.mod_index td span.dimmed {
    color: #999;
}
/* End of: table with list of surveypro in index.php */

/* to correct vertical alignment in read only mode */
#page-mod-surveypro-view_form .mform .fitem .felement.fgroup,
#page-mod-surveypro-view_form .mform .fitem .felement.feditor,
#page-mod-surveypro-view_form .mform .fitem .felement.fselect,
#page-mod-surveypro-view_form .mform .fitem .felement.fcheckbox,
#page-mod-surveypro-view_form .mform .fitem .felement.fstatic {
    padding-top: 5px;
}

/* vertical distance between select in rate is too much */
#page-mod-surveypro-view_form #userentry .fitem .felement select,
#page-mod-surveypro-view_form .mform .fitem .felement select,
#page-mod-surveypro-view_form #userentry .fitem .felement input,
#page-mod-surveypro-view_form .mform .fitem .felement input {
    margin-bottom:0;
}
