/* Begin of: colours alternation for #layout_preview, #view_form, #view_search forms and read-only table*/
#userentry div.row:nth-of-type(odd),
#usersearch div.row:nth-of-type(odd) {
    background-color: #ededed;
}
/* End of: colours alternation for #userentry, #usersearch forms and read-only table*/

/* Begin of: hacky coluorunifier html element */
div.colorunifier {
    line-height: 0;
    margin-bottom: 0;
    padding: 0;
}
/* End of: hacky coluorunifier html element */

/* Begin of: connect note to question */
#userentry > div.fitem,
#usersearch > div.fitem,
#userentry > fieldset > div > div.fitem,
#usersearch > fieldset > div > div.fitem {
    margin: 0;
}
/* End of: connect note to question */

/* Begin of: no margin bottom to p inside question in SURVEYPRO_POSITIONTOP and SURVEYPRO_POSITIONFULLWIDTH */
.mform .fitem > div.fullwidth > p {
    margin: 0 1em 0 1em;
}
/* End of: no margin bottom to p inside question in SURVEYPRO_POSITIONTOP and SURVEYPRO_POSITIONFULLWIDTH */

.mform .fitem .felement label {
    margin-right: 1em;
}

/* Begin of: #manageitems, #sortitems and #validaterelations tables*/
table#manageitems,
table#sortitems,
table#validaterelations {
    width: 100%;
}

table#manageitems .plugin,
table#sortitems .plugin,
table#validaterelations .plugin {
    text-align: center;
}

table#manageitems .hide {
    display: none;
}

table#manageitems td.plugin,
table#sortitems td.plugin,
table#validaterelations td.plugin {
    width: 90px;
    white-space: nowrap;
    vertical-align: middle;
}

table#manageitems td.plugin span.pluginicon,
table#sortitems td.plugin span.pluginicon,
table#validaterelations td.plugin span.pluginicon {
    padding: .2em;
}

table#manageitems td.sortindex,
table#sortitems td.sortindex,
table#validaterelations td.sortindex {
    min-width: 2.5em;
    padding: 0.5em;
    text-align: right;
    white-space: nowrap;
    vertical-align: middle;
}

table#manageitems td.parentitem,
table#sortitems td.parentitem,
table#validaterelations td.parentitem {
    margin: 0;
    padding: 0.5em;
    text-align: left;
    white-space: nowrap;
    vertical-align: middle;
}

table#manageitems td.parentitem span.branch .icon,
table#sortitems td.parentitem span.branch .icon,
table#validaterelations td.parentitem span.branch .icon {
    padding: 0 .1em 0 .1em;
    margin: 0 .1em 0 .1em;
}

table#manageitems td.customnumber,
table#sortitems td.customnumber {
    padding: 0.5em;
    white-space: nowrap;
    vertical-align: middle;
}

table#manageitems td.content,
table#sortitems td.content,
table#validaterelations td.content {
    padding: 0.5em;
    vertical-align: middle;
}

table#manageitems td.variable,
table#sortitems td.variable {
    padding: 0.5em;
    text-align: left;
    white-space: nowrap;
    vertical-align: middle;
}

table#manageitems td.formpage,
table#sortitems td.formpage {
    padding: 0.5em;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}

table#manageitems td.availability,
table#sortitems td.availability {
    padding: 0.5em;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}

table#manageitems td.availability img.icon,
table#manageitems td.availability i.icon,
table#sortitems td.availability img.icon,
table#sortitems td.availability i.icon {
    width: 16px;
    height: 16px;
    padding: 0;
    vertical-align: middle;
    margin-right: .2em;
}

table#manageitems td.actions,
table#sortitems td.actions,
table#validaterelations td.actions {
    padding: 0.5em;
    white-space: nowrap;
    vertical-align: middle;
}

table#manageitems td.actions span.reorder,
table#sortitems td.actions span.reorder {
    padding: .2em;
}

table#manageitems td.actions span.fatspan,
table#sortitems td.actions span.fatspan {
    display: inline;
    border-collapse: collapse;
    border-spacing: 0px 0px;
    line-height: 20px;
    text-align: left;
    white-space: nowrap;
    float: none;
}

table#manageitems td.actions span.lastspan,
table#sortitems td.actions span.lastspan {
    display: inline;
    border-collapse: collapse;
    border-spacing: 0px 0px;
    line-height: 20px;
    text-align: right;
    white-space: nowrap;
    float: none;
    padding-left: .1em;
    margin-left: .1em;
}

table#manageitems span.noactionicon,
table#sortitems span.noactionicon {
    padding: .2em;
    white-space: nowrap;
}

table#manageitems span.spacericon,
table#sortitems span.spacericon {
    padding-right: .2em;
    white-space: nowrap;
}

table#manageitems td.actions span.spacericon img.icon,
table#sortitems td.actions span.spacericon i.icon {
    width: 1.3em;
}

table#sortitems td.plugin img.placeholder {
    height: 16px;
    width: 80px;
}

table#manageitems td.actions img.icon,
table#manageitems td.actions i.icon,
table#sortitems td.actions img.icon,
table#sortitems td.actions i.icon {
    width: 16px;
    height: 16px;
    padding: 0;
    vertical-align: middle;
    margin-right: 0;
}

table#manageitems td.actions a.icon,
table#sortitems td.actions a.icon,
table#validaterelations td.actions a.icon {
    margin-right: 0;
}

table#manageitems .header,
table#sortitems .header,
table#validaterelations .header {
    text-align: center;
}

table#manageitems .dimmed,
table#sortitems .dimmed,
table#validaterelations .dimmed {
    color: #cdcdcd;
}

table#validaterelations td.parentconstraints {
    padding: 0.5em;
    text-align: left;
    white-space: nowrap;
}

table#validaterelations td.status {
    padding: 0.5em;
    white-space: nowrap;
}

table#validaterelations td.status .warningmessage {
    color: yellow;
}

table#validaterelations td.status .errormessage {
    color: red;
}
/* End of: #manageitems, #sortitems, #managetemplates and #validaterelations tables*/

/* Begin of: submissions table */
table#submissions {
    width: 100%;
}

table#submissions td.actions {
    padding: 0.5em;
    white-space: nowrap;
    vertical-align: middle;
}

table#submissions .cell {
    vertical-align: middle;
}

table#submissions .picture {
    padding: 0.5em;
    width: 1.2em;
}

table#submissions .actions img.icon,
table#submissions .actions i.icon {
    width: 16px;
    height: 16px;
    margin: 0 0 0 0.45em;
    padding-right: 0;
    vertical-align: middle;
}
/* End of: submissions table */

/* Begin of: selectors for the static field explaining the format needed by each plugin in parentcontent field */
form#itemsetup table.exampletable {
    padding: 0;
    margin: 0 0 0 20px;
    width: auto;
}

form#itemsetup td.pluginname {
    padding: 0 20px 0 0;
    vertical-align: top;
    /* width: 60%; */
}

form#itemsetup td.inputformat {
    padding: 0;
    vertical-align: top;
    /* width: 40%; */
}

form#itemsetup .felement.fstatic ul {
    line-height: 1.2em;
}

form#itemsetup .felement .longfield {
    width: 25em;
}
/* End of: selectors for the static field explaining the format needed by each plugin in parentcontent field */

/* Begin of: #managetemplates table*/
table#managetemplates {
    width: 100%;
}

table#managetemplates td.actions {
    padding: 0.5em;
    white-space: nowrap;
    vertical-align: middle;
}

table#managetemplates td.actions i.icon {
    width: 16px;
    height: 16px;
    padding: 0;
    vertical-align: middle;
    margin-right: 0;
}

table#managetemplates td.actions a.icon {
    margin-right: 0;
}

table#managetemplates .header {
    text-align: center;
}

table#validaterelations .header {
    text-align: center;
}
/* End of: #managetemplates table */

/* classes = indent-n */
.fitem .felement .indent-1 {
    margin-left: 1.5em;
}
/* correction for select, textarea, plain text and ignoreme checkboxes that resist to the general selector */
div.indent-1 > div > select,
div.indent-1 > div > textarea,
div.indent-1 > div > input[type='text'],
div.indent-1 > div > div > label,
.form-group div.fitem.indent-1 {
    margin-left: 1.5em;
}
/* correction for fileupload_filemanager specifications that resist to the general selector */
div.indent-1.fileupload_filemanager ~ div,
div.indent-1.fileupload_filemanager ~ p {
    margin-left: 1.5em;
}

/* class = indent-2 */
.fitem .felement .indent-2 {
    margin-left: 3em;
}
/* correction for select, textarea, plain text and ignoreme checkboxes that resist to the general selector */
div.indent-2 > div > select,
div.indent-2 > div > textarea,
div.indent-2 > div > input[type='text'],
div.indent-2 > div > div > label,
.form-group div.fitem.indent-2 {
    margin-left: 3em;
}
/* correction for fileupload_filemanager specifications that resist to the general selector */
div.indent-2.fileupload_filemanager ~ div,
div.indent-2.fileupload_filemanager ~ p {
    margin-left: 3em;
}

/* class = indent-3 */
.fitem .felement .indent-3 {
    margin-left: 4.5em;
}
/* correction for select, textarea, plain text and ignoreme checkboxes that resist to the general selector */
div.indent-3 > div > select,
div.indent-3 > div > textarea,
div.indent-3 > div > input[type='text'],
div.indent-3 > div > div > label,
.form-group div.fitem.indent-3 {
    margin-left: 4.5em;
}
/* correction for fileupload_filemanager specifications that resist to the general selector */
div.indent-3.fileupload_filemanager ~ div,
div.indent-3.fileupload_filemanager ~ p {
    margin-left: 4.5em;
}

/* class = indent-4 */
.fitem .felement .indent-4 {
    margin-left: 6em;
}
/* correction for select, textarea, plain text and ignoreme checkboxes that resist to the general selector */
div.indent-4 > div > select,
div.indent-4 > div > textarea,
div.indent-4 > div > input[type='text'],
div.indent-4 > div > div > label,
.form-group div.fitem.indent-4 {
    margin-left: 6em;
}
/* correction for fileupload_filemanager specifications that resist to the general selector */
div.indent-4.fileupload_filemanager ~ div,
div.indent-4.fileupload_filemanager ~ p {
    margin-left: 6em;
}

/* class = indent-5 */
.fitem .felement .indent-5 {
    margin-left: 7.5em;
}
/* correction for select, textarea, plain text and ignoreme checkboxes that resist to the general selector */
div.indent-5 > div > select,
div.indent-5 > div > textarea,
div.indent-5 > div > input[type='text'],
div.indent-5 > div > div > label,
.form-group div.fitem.indent-5 {
    margin-left: 7.5em;
}
/* correction for fileupload_filemanager specifications that resist to the general selector */
div.indent-5.fileupload_filemanager ~ div,
div.indent-5.fileupload_filemanager ~ p {
    margin-left: 7.5em;
}

/* class = indent-6 */
.fitem .felement .indent-6 {
    margin-left: 9em;
}
/* correction for select, textarea, plain text and ignoreme checkboxes that resist to the general selector */
div.indent-6 > div > select,
div.indent-6 > div > textarea,
div.indent-6 > div > input[type='text'],
div.indent-6 > div > div > label,
.form-group div.fitem.indent-6 {
    margin-left: 9em;
}
/* correction for fileupload_filemanager specifications that resist to the general selector */
div.indent-6.fileupload_filemanager ~ div,
div.indent-6.fileupload_filemanager ~ p {
    margin-left: 9em;
}

/* class = indent-7 */
.fitem .felement .indent-7 {
    margin-left: 10.5em;
}
/* correction for select, textarea, plain text and ignoreme checkboxes that resist to the general selector */
div.indent-7 > div > select,
div.indent-7 > div > textarea,
div.indent-7 > div > input[type='text'],
div.indent-7 > div > div > label,
.form-group div.fitem.indent-7 {
    margin-left: 10.5em;
}
/* correction for fileupload_filemanager specifications that resist to the general selector */
div.indent-7.fileupload_filemanager ~ div,
div.indent-7.fileupload_filemanager ~ p {
    margin-left: 10.5em;
}

/* class = indent-8 */
.fitem .felement .indent-8 {
    margin-left: 12em;
}
/* correction for select, textarea, plain text and ignoreme checkboxes that resist to the general selector */
div.indent-8 > div > select,
div.indent-8 > div > textarea,
div.indent-8 > div > input[type='text'],
div.indent-8 > div > div > label,
.form-group div.fitem.indent-8 {
    margin-left: 12em;
}
/* correction for fileupload_filemanager specifications that resist to the general selector */
div.indent-8.fileupload_filemanager ~ div,
div.indent-8.fileupload_filemanager ~ p {
    margin-left: 12em;
}

/* class = indent-9 */
.fitem .felement .indent-9 {
    margin-left: 13.5em;
}
/* correction for select, textarea, plain text and ignoreme checkboxes that resist to the general selector */
div.indent-9 > div > select,
div.indent-9 > div > textarea,
div.indent-9 > div > input[type='text'],
div.indent-9 > div > div > label,
.form-group div.fitem.indent-9 {
    margin-left: 13.5em;
}
/* correction for fileupload_filemanager specifications that resist to the general selector */
div.indent-9.fileupload_filemanager ~ div,
div.indent-9.fileupload_filemanager ~ p {
    margin-left: 13.5em;
}

/* This is for checkboxes affected by MDL-62634 */
label.indent-1 > input[type='checkbox'].indent-1,
label.indent-2 > input[type='checkbox'].indent-2,
label.indent-3 > input[type='checkbox'].indent-3,
label.indent-4 > input[type='checkbox'].indent-4,
label.indent-5 > input[type='checkbox'].indent-5,
label.indent-6 > input[type='checkbox'].indent-6,
label.indent-7 > input[type='checkbox'].indent-7,
label.indent-8 > input[type='checkbox'].indent-8,
label.indent-9 > input[type='checkbox'].indent-9 {
    margin-left: 0;
}
/* End of: classes = indent-n */

/* Begin of: fix to owful alignment of fielset legends in surveypro -> cover */
#page-mod-surveypro-view_cover .coverinfolegend {
    margin-bottom: 0;
    margin-top: 20px;
}
/* End of: fix to owful alignment of fielset legends in surveypro -> cover */

/* table with list of surveypro in index.php */
table.surveypro_index .col1,
table.surveypro_index .col2,
table.surveypro_index .col3,
table.surveypro_index .col4,
table.surveypro_index .col5 {
    text-align: left;
}

table.surveypro_index .col1 {
    white-space: nowrap;
}

table.surveypro_index td span.dimmed {
    color: #999;
}
/* End of: table with list of surveypro in index.php */

/* to correct vertical alignment in read only mode */
form#userentry .fitem .felement.fgroup,
form#userentry .fitem .felement.feditor,
form#userentry .fitem .felement.fselect,
form#userentry .fitem .felement.fcheckbox,
form#userentry .fitem .felement.fstatic {
    padding-top: 5px;
}
/* End of: to correct vertical alignment in read only mode */

/* vertical distance between top margin of a row and input elements is too small */
form#userentry .fitem,
form#usersearch .fitem {
    padding-top: 0.7em;
}
/* End of: vertical distance between top margin of a row and input elements is too small */

/* padding bottom for noanswer checkbox in a dedicated row, like, for instence, in rate elements (but not only) */
form#userentry div.rate_check,
form#usersearch div.rate_check {
    padding-bottom: 0.5em;
    padding-top: 0;
}
/* End of: padding bottom for noanswer checkbox in a dedicated row, like, for instence, in rate elements (but not only) */

/* padding bottom for noanswer checkbox in a dedicated row, like, for instence, in rate elements (but not only) */
form#userentry div.fitem_fstatic,
form#usersearch div.fitem_fstatic {
    padding-top: 0;
}
/* End of: padding bottom for noanswer checkbox in a dedicated row, like, for instence, in rate elements (but not only) */
