/* Begin of: horizontal align of labels inside age elements in read-only mode */
.age_static {
    /*margin-top: .7em;*/
    margin-right: .5em;
}
/* End of: horizontal align of labels inside age elements in read-only mode */
