/* Begin of: Page break presentation in the items table and during deletion confirmation */
/* taken from: http://www.techrepublic.com/blog/web-designer/customize-horizontal-rules-to-add-some-flair/ */
table#manageitems hr.pagebreakcontent,
table#validaterelations hr.pagebreakcontent {
    border-radius: 45px;
    border-style: ridge;
    border-width: 3px 0 0 0;
    height: 18px;
    margin: 10px 10px -10px 10px;
}

table#manageitems .dimmed hr.pagebreakcontent,
table#validaterelations .dimmed hr.pagebreakcontent {
    border-width: 2px 0 0 0;
    color: white;
}

table#manageitems hr.pagebreakcontent:before,
table#validaterelations hr.pagebreakcontent:before {
    border-radius: 45px;
    border-style: ridge;
    border-width: 0 0 2px 0;
    content: "";
    display: block;
    height: 20px;
    margin-top: -25px;
}

table#manageitems hr.fieldsetendcontent,
table#validaterelations hr.fieldsetendcontent {
    border: 2px dotted #000;
    border-style: none none dotted;
    width: 90%;
}
/* End of: Page break presentation in the items table and during deletion confirmation */
