/*
 * Legenda:
 *     .path-mod-surveypro #userentry              form to preview and to submit a response;
 *     .path-mod-surveypro #usersearch             form to search a response;
 *     .path-mod-surveypro #userentry .frozen      readonly response
 *     .path-mod-surveypro table#manageitems       table to manage items
 *     .path-mod-surveypro table#sortitems         table to sort items
 *     .path-mod-surveypro table#validaterelations table to validate relations
 */

#page-mod-surveypro-reports table#lateusers .picture {
    padding: 0.5em;
    width: 1.2em;
}
